body {
  margin: 0 0;
}
body header {
  width: 1440px;
  height: 700px;
  flex-shrink: 0;
  background: #014e56;
}
body header .head {
  display: flex;
  gap: 100px;
}
body header .logo {
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 165px;
  margin-top: 77px;
}
body header .nav {
  display: flex;
  gap: 40px;
}
body header .nav-p {
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-top: 83px;
}
body header .header-btn {
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  background: #014e56;
  width: 153px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50px;
  margin-top: 75px;
  margin-left: 560px;
  border-color: #fff;
}
body header .about {
  display: flex;
  gap: 30px;
}
body header .about-h3 {
  width: 350px;
  color: #fff;
  font-family: Livvic;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 156.25% */
  margin-left: 165px;
  margin-top: 130px;
}
body header .about-p {
  width: 730px;
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-top: 170px;
}
body .meet {
  width: 1440px;
  height: 1002px;
  flex-shrink: 0;
  background: #004047;
  position: absolute;
}
body .meet .meet-h3 {
  width: 920px;
  color: #fff;
  text-align: center;
  font-family: Livvic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin-top: 140px;
  margin-left: 260px;
}
body .meet .meet-main {
  display: flex;
  gap: 30px;
  margin-left: 165px;
  margin-top: 70px;
}
body .meet .meet-division {
  width: 350px;
  height: 253px;
  flex-shrink: 0;
  background: #012f34;
}
body .meet .meet-division__img {
  margin-left: 127px;
  margin-top: 30px;
  width: 96px;
  height: 96px;
  border-radius: 96px;
  border: 2px solid #c4fffe;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
body .meet .meet-division__p {
  width: 302px;
  color: #79c8c7;
  text-align: center;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  margin-left: 24px;
}
body .meet .meet-division__pa {
  width: 302px;
  margin-left: 24px;
  color: #fff;
  text-align: center;
  font-family: Livvic;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
}
body .meet .division-position {
  position: absolute;
  left: 307px;
}
body .meet .division-position__b {
  position: absolute;
  left: 687px;
}
body .meet .division-position__i {
  position: absolute;
  left: 1077px;
}
body .cleint {
  width: 1440px;
  height: 437px;
  flex-shrink: 0;
  background: #012f34;
  position: absolute;
  margin-top: 1002px;
}
body .cleint .cleint__h3 {
  color: #fff;
  text-align: center;
  font-family: Livvic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  width: 920px;
  margin-top: 140px;
  margin-left: 260px;
}
body .cleint .father {
  display: flex;
  gap: 80px;
  background-color: #012f34;
}
body .cleint .bitmap {
  margin-left: 100px;
  margin-top: 70px;
}
body .intro {
  width: 1440px;
  height: 200px;
  flex-shrink: 0;
  background: #f67e7e;
  position: absolute;
  display: flex;
  margin-top: 1439px;
}
body .intro .into-img {
  width: 200px;
  height: 244px;
  flex-shrink: 0;
}
body .intro .intro-h3 {
  color: #012f34;
  font-family: Livvic;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin-top: 75px;
  margin-left: 60px;
}
body .intro .intro-btn {
  color: #012f34;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  width: 153px;
  height: 48px;
  background: #f67e7e;
  border-color: #012f34;
  border-radius: 50px;
  margin-top: 75px;
  margin-left: 260px;
}
body footer {
  display: flex;
  margin-top: 200px;
  position: absolute;
  background: #002529;
  width: 1440px;
  height: 196px;
  flex-shrink: 0;
  margin-top: 1639px;
}
body footer .logo-footer {
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-left: 160px;
}
body footer .footer-father {
  display: flex;
  gap: 40px;
  margin-left: 160px;
  margin-top: 25px;
}
body footer .footer-p {
  color: #fff;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
body footer .footer-p-long {
  width: 145px;
  opacity: 0.6;
  color: #fff;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  margin-top: -10px;
}
body footer .footer-text {
  margin-left: 125px;
  margin-top: 60px;
}
body footer .footer-img {
  width: 104px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 500px;
  margin-top: 50px;
}
body footer .footer-p__long {
  width: 255px;
  color: #fff;
  text-align: right;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 166.667% */
  margin-top: 50px;
  margin-left: 350px;
}/*# sourceMappingURL=about.css.map */